.main {
    background: linear-gradient(to bottom, #E5FBFF, white);
}
.submit-button {
    background-color: #58E492;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.comment {
    color: gray;
    font-size: 12px;
}

.reportview-container {
    background: linear-gradient(to bottom right, #E5FBFF, #F0F8FF);
}
.sidebar .sidebar-content {
    background: linear-gradient(to bottom, #F8FBFF, #E5FBFF);
}

/* Additional styling for better visual hierarchy */
[data-testid="stSidebar"] {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
.stApp {
    background:rgba(255, 255, 255, 0.8);
} 



Navigation Bar
.topnav {
    overflow: hidden;
    background-color: #E5FBFF;
}

.topnav a {
    float: left;
    display: block;
    color: #00274d;
    background-color: #E5FBFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
    font-weight: bold;

}



img[data-testid="stLogo"] {
    height: 3.5rem;
}