python-dotenv==1.0.1
google-auth-oauthlib==1.2.1
google-api-python-client==2.151.0
streamlit==1.42.1
langchain-community==0.3.19
langchain-core==0.3.41
langchain-ollama==0.2.0
easyocr==1.7.2
openpyxl==3.1.5
sentence-transformers==3.4.1
